@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary : #b6b6b6;
  --text-secondary : #ececec;
  --bg-primary : #23232e;
  --bg-secondary : #141418;
  --hover-autumn : #D45B12;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #1e1e24;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* if you remove the height the last child wont stick to the bottom */
}
.nav-item {
  width: 100%;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  width:  5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.nav-item:hover {
  filter: grayscale(0%) opacity(1);
  background:  var(--bg-secondary);
  color:  var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}
.navbar:hover .link-text {
  display: block;
}

.fa-primary {
  color: var(--hover-autumn);
  transition: 600ms;
}

/* Logo */

.logo {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color :  var(--text-secondary);
  background: var(--bg-secondary) !important;
  font-size:  1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}
.logo svg {
  transform: rotate(0deg);
  transition: transform 600ms;
}

.navbar:hover .logo svg {
  transform: rotate(-340deg);
}

/* For small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;

  }
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main {
    margin: 0;
  }

  .navbar:hover {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar:hover .link-text {
    display: none;
  }
}


/* For large screens */

@media only screen and (min-width : 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
  }
}
